{% extends "base.html" %}

{%block title%}
Home
{% endblock %}

{% block main %}
<h2>Movies review: reviews, ratings, trailers</h2><br>
<p>Discover and share your thoughts on the latest movies and classics.</p>
    <p>if u wanna watch reviews click <a href="/posts">
        <button type="button" class="btn btn-outline-primary me-2">Explore Reviews</button>
    </a></p>
    <p>If u wanna create rewiew of ur favorite film or serial click <a href="/create">
        <button type="button" class="btn btn-outline-primary me-2">Write a Review</button>
    </a></p>
    <p>if u are intrested in programer thier web site click <a href="/about">
        <button type="button" class="btn btn-outline-primary me-2">About Us</button>
    </a></p>
    <input type="text" id="searchInput" placeholder="Поиск обзоров..." onkeyup="searchReviews()">
    
    <ul id="searchResults"></ul>
    <script>
        async function searchReviews() {
            let query = document.getElementById("searchInput").value;
            if (query.length < 2) return;
    
            let response = await fetch(`/search?q=${query}`);
            let reviews = await response.json();
    
            let list = document.getElementById("searchResults");
            list.innerHTML = reviews.map(r => `<li>${r.title}</li>`).join('');
        }
    </script>

{% endblock %}