{%extends "base.html"%}

{%block title%}
all news
{% endblock %}

{% block main %}
<h1>all news</h1><br>

<div class="row">

    {% for post in posts %}
    <div class="col-md-6 item">
        <div class="item-in">
            <h4>{{ post.title }}</h4>
            <div class="seperator"></div>
            <p>{{ post.text }}</p>
            <a href="{{ url_for('post_detail', post_id=post.id) }}">Read More
               <i class="fa fa-long-arrow-right"></i>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

